:root {
  --color-bg-dark: #474747;
  --color-bg-light: #f0e9e9a1;
  --color-font-light: #ffffffef;
  --color-bg-lighter: #dbd7d7;
  --color-border-light: #e2727256;
  --color-input-light: #ffffff8f;
}
